<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISOS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KioscoPueblito"
        android:lockTaskMode="if_whitelisted">

        <!-- DEVICE ADMIN -->
        <receiver
            android:name=".MyDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- SPLASH (LANZADOR) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Kiosco.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WEB (MENÚ) -->
        <activity
            android:name=".WebActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <!-- (OPCIONAL) TU ORDEN NATIVA -->
        <activity
            android:name=".OrdenActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>
